@import 'sass/_variables.scss';

.FormGroup {
  width: 100%;
  position: relative;
  label {
    position: absolute;
    background: #f5f6f9;
    font-weight: normal;
    font-size: 15px;
    line-height: 132%;
    color: $primary;
    left: 20px;
    top: -10px;
    padding: 0 8px;
  }
  input {
    width: 100%;
    background: #fafbfd;
    border: 1px solid $primary;
    box-sizing: border-box;
    border-radius: 8px;
    height: 60px;
    padding: 0 20px;
    font-size: 16px;
    &:focus {
      outline: 0;
      border: 1px solid $primary;
      box-shadow: 0;
    }
  }
}
